body{
    background-color: #D4CBF9;
    height: 780px;
}

.retangulo-conteudo{
    position: absolute;
    width: 1180px;
    height: 604px;
    margin: 5% 5%;

    background-color: #E7E2FA;
    box-shadow: 5px 15px 20px 7px rgba(0, 0, 0, 0.25);
    border-radius: 43px;
}

h1{
    text-align: center;
    font-weight: bold;
}